* {
    margin: 0;
}

.mystyle {
    margin: 70px;
    text-align: center;
}
.hedaer {
    display: inline-block;
    padding: 6px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
.info {
    width: 50%;
    height: 400px;
}
.btn {
    margin: 20px;
    width: 220px;
}
.print {
    border: 1px solid #DDD;
    padding: 20px 0 20px 0;
}

.form-check {
    margin: 16px 0 0 0px;
}
.form-check-label {
    margin-left: 22px;
}